//color
$contentBackground:#3b3b3b;
$backStore:rgba(198, 238, 252, 0.53);
$layoutColor:#fff178;
$heading1Color:#fccd10;
$fontColor:#fff;
$linkColor:#fccd10;
$ContactTextColor:#f5c70f;
$tHeadColor:#94a34e;
$TabletdColor:#677d01;
//text
$fontFamily:Roman, 'Times New Roman', Times, serif;
$textTF:uppercase;
$textTFUp:uppercase;
$width100:100%;
//brief
$BrWidth:96.5%;
$BrColor:#000;
$BrHeight:58px;
$BrMarginB: 40px;




