//color
$contentBackground: #ffffff;
$backStore:#dcbb9a;
$layoutColor:#fadcba;
$heading1Color:#893c00;
$fontColor:#000000; 
$linkColor:#3d70a1;
$ContactTextColor:#808080;
$tHeadColor:#e0e0e0;
$TabletdColor:#fff;
//text
$fontFamily:Roman, 'Times New Roman', Times, serif;
$textTF:none;
$textTFUp:uppercase;
$width100:100%; 
//brief
$BrWidth:390px;
$BrColor:#000;
$BrHeight:94px;
$BrMarginB: 0px;


